# Backup and temporary files
*~

# Compiled object and assembly files
*.o
*.s
a.out

# System and build directories
/tmp*
/thirdparty/
/hyperlight/
/stage2/

# Test binaries
/test/*.exe

# Other Binaries
hyperlight

# IDE and editor files
.vscode/
.idea/
